.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

#place {
    height: auto;
}

.answer {
    opacity: 0;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.popup {
    opacity: 0;
    animation: 1s fadeIn;
    animation-fill-mode: forwards;
}
@keyframes lightUp {
    from {
        background: rgba(51, 45, 45)
    }
    to {
        background: rgb(255, 255, 255)
    }
}
@keyframes textLightUp {
    from {
        color: rgba(255, 255, 255);
    }
    to {
        color: rgba(0, 0, 0);
    }
}


.crd {
    background: rgba(51, 45, 45);
}
.crd:hover {
    cursor: pointer;
    animation: 0.3s lightUp;
    animation-fill-mode: forwards;
}
.crd:hover .card-title {
    animation: 0.3s textLightUp;
    animation-fill-mode: forwards;
}
.crd:hover .card-body {
    animation: 0.3s textLightUp;
    animation-fill-mode: forwards;
}