{% extends "layout.html" %}
{% block content %}
<section class="vh-100 gradient-custom d-flex align-items-center">
  <div class="container py-5">
    <div class="row h-100 d-flex justify-content-center">
        <div class="card bg-dark text-white" style="border-radius: 1rem; height: auto; width: auto;">
          <div class="card-body p-4">
              <div class="d-flex justify-content-end">
                  <p class="fs-5 fw-light mb-0">{{ count + 1 }}/5</p>
              </div>
            <p class="fs-1 text-center card-title pl-5">Type your question</p>
              {% if error %}
              <p class="fs-5 text-center pl-5" style="color: red;">At least 1 check have to be marked</p>
              {% endif %}
              {% if success %}
              <p class="fs-5 text-center pl-5" style="color: green;">Good! Next question</p>
              {% endif %}
            <form id="form" method="POST" action="{{ url_for('create_question_form') }}">
                <div id="place">
                    <div class="quest">
              <div class="d-flex justify-content-center row">
                  <div class="input-group">
                  <div class="form-outline form-white w-100">
                    <input type="text" id="question_input" name="question" data-mdb-showcounter="true" maxlength="20" class="form-control" required />
                      <label class="form-label" for="question_input">Your question</label>
                      <div class="form-helper"></div>
                      </div>
                      <button id="expandAnswer" type="button" onclick="spawnAnswer()" class="btn btn-light">
                      <i class="fas fa-arrow-down-long"></i>
                    </button>
                      </div>
              </div>
                    </div>
                    </div>
            </form>
          </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}