{% import "macros.html" as tools %}
{% extends "layout.html" %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-3 text-center">
            <div class="mb-md-4 mt-md-4 me-4 ms-4">
              <h2 class="fw-bold mb-4">Fill fields</h2>
                 <form method="POST" action="{{url_for('create_quiz_post')}}">
                  <div class="form-outline form-white mb-4">
                      <input type="text" id="title" name="title" class="form-control form-control-lg {{ tools.is_valid('title', errors) }}" value="{{ title }}" required />
                      <label class="form-label" for="title">Quiz title</label>
                      <div class="invalid-feedback">Such quiz already exists</div>
                      <div class="valid-feedback">Looks right</div>
                  </div>
                     <div class="form-outline form-white mb-4">
                        <textarea class="form-control" name="description" id="description" rows="2">{{ description }}</textarea>
                        <label class="form-label" for="description">Description</label>
                    </div>
                     <button class="btn btn-outline-light btn-lg px-5" type="submit">Create quiz</button>
                 </form>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}