{% extends "layout.html" %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row h-100">
        <div class="card bg-dark text-white w-100 h-100" style="border-radius: 1rem;">
          <div class="card-body p-5">
              <div class="d-flex justify-content-end row" style="height: 2rem;">
              <button type="button" class="btn btn-light btn-rounded" style="height: 100%; width: auto;" onclick="location.href=&quot;{{url_for('create_quiz')}}&quot;" data-mdb-ripple-color="dark">
                  <i class="fas fa-plus">
                      Create quiz
                  </i>
              </button>
              </div>
              <p class="fw-bold fs-1 text-center mb-2">Hello, {{ user.login if user }}</p>
              <div class="d-flex justify-content-center row pr-5 pl-5">
                  <form method="POST" action="{{ url_for('search') }}">
              <div class="input-group">
                  <div class="form-outline form-white">
                      <input type="search" id="search" name="query" class="form-control" required />
                      <label class="form-label" for="search">Search</label>
                  </div>
                  <button type="submit" class="btn btn-light">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
                      </form>
              </div>
            </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}