{% extends "layout.html" %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row h-100">
        <div class="card bg-dark text-white w-100 h-100" style="border-radius: 1rem;">
          <div class="card-body p-5">
              <div class="d-flex justify-content-end row" style="height: 2rem;">
              <button type="button" class="btn btn-light btn-rounded" style="height: 100%; width: auto;" onclick="location.href=&quot;{{url_for('create_quiz_get')}}&quot;" data-mdb-ripple-color="dark">
                  <i class="fas fa-plus">
                      Create quiz
                  </i>
              </button>
              </div>
              <p class="fw-bold fs-1 text-center mb-2">Hello, {{ user.login if user }}</p>
              {% if created %}
              <p class="fs-5 text-center mb-1 fw-lighter">Congrats! Quiz created</p>
              {% endif %}
              <div class="d-flex justify-content-center row pr-5 pl-5">
                  <form method="POST" action="{{ url_for('search') }}">
              <div class="input-group">
                  <div class="form-outline form-white">
                      <input type="search" id="search" name="query" class="form-control" required />
                      <label class="form-label" for="search">Search</label>
                  </div>
                  <button type="submit" class="btn btn-light">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
                      </form>
              </div>
              <script type="text/javascript">
                  function quiz(id) {
                        window.location = "{{ url_for('show_quiz_get') }}"  + '?quiz_id=' +  id;
                  }
              </script>
              <div class="d-flex flex-wrap justify-content-start w-100 pt-3">
                  {% if quiz_list %}
                    {% for quiz in quiz_list -%}
                  <div class="pe-3 pb-3">
                    <div class="card crd border border-2 ps-2" onclick="quiz({{ quiz.id }});" style="width: 8rem; height: 100%;">
                        <div class="card-title mb-1 fs-4 fw-light text-center">{{ quiz.title }}</div>
                        <div class="card-body fw-lighter p-0">{{ quiz.description }}</div>
                    </div>
                  </div>
                    {% endfor %}
                  {% endif %}
              </div>
            </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}