{% import 'macros.html' as tools %}
{% extends 'layout.html' %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mt-md-4">
              <h2 class="fw-bold mb-4 text-uppercase">login</h2>
                {% if request.query_params['registered'] == 'True' %}
                <p class="text-white-50 mb-5">You are registered. Log in now</p>
                {% endif %}
                 <form method="POST" action="{{url_for('login_post')}}">
                  <div class="form-outline form-white mb-4">
                      <input type="text" id="typeLogin" name="login" class="form-control form-control-lg {{ tools.is_valid('login', errors) }}" value="{{ login }}" required />
                      <label class="form-label" for="typeLogin">Login</label>
                      <div class="invalid-feedback">User does not exist</div>
                      <div class="valid-feedback">Looks right</div>
                  </div>
                 <div class="form-outline form-white mb-4">
                      <input type="password" id="typePassword" name="password" class="form-control form-control-lg {{ tools.is_valid('password', errors) }}" value="{{ password }}" required />
                      <label class="form-label" for="typePassword">Password</label>
                     <div class="invalid-feedback">Password is wrong</div>
                     <div class="valid-feedback">Looks right</div>
                 </div>
                     <button class="btn btn-outline-light btn-lg px-5 mb-4" type="submit">Login</button>
                 </form>
            </div>
            <div>
              <p class="mb-0">Don't have an account? <a href="{{url_for('signup_get')}}" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}