{% extends 'layout.html'%}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='/auth/css/style.css') }}">
{% endblock %}
{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4">
              <h2 class="fw-bold mb-4 text-uppercase">LOGIN</h2>
                {% if errors %}
                    {% for error in errors %}
                    {{ error }}
                    {% endfor %}
                {% endif %}
                 <form method="POST" action="{{url_for('login_post')}}">
                  <div class="form-outline form-white mb-4">
                      <input type="text" id="typeLogin" name="login" class="form-control form-control-lg" value="{{ login }}" required />
                      <label class="form-label" for="typeLogin">Login</label>
                      <div class="invalid-feedback">Login must be between 3 and 8 characters in lower case, and must not be equal to the password</div>
                      <div class="valid-feedback">Looks right</div>
                  </div>
                 <div class="form-outline form-white mb-4">
                      <input type="password" id="typePassword" name="password" class="form-control form-control-lg" value="{{ password }}" required />
                      <label class="form-label" for="typePassword">Password</label>
                     <div class="invalid-feedback">Password must be between 3 and 8 characters in lower case, must not be equal to the login</div>
                     <div class="valid-feedback">Looks right</div>
                 </div>
                     <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                 </form>
            </div>
            <div>
              <p class="mb-0">Don't have an account? <a href="{{url_for('signup_get')}}" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}