{% extends "layout.html" %}
{% block content %}
<section class="vh-100 gradient-custom d-flex align-items-center">
    <div class="container py-5">
    <div class="row h-100 d-flex justify-content-center">
        <div class="card bg-dark text-white" style="border-radius: 1rem; height: auto; width: auto;">
          <div class="card-body p-5">
              <p class="fs-5 text-center pl-5">At least 1 check have to be marked</p>
              <div class="d-flex justify-content-end">
                  <p class="fs-5 fw-light mb-0">{{ current_question }}/5</p>
              </div>
              <span class="fw-light fs-2 text-center mb-3">
                  <i class="far fa-circle-question"></i> {{ question.text }}
              </span>
              <form method="POST" action="{{ url_for('process')}}">
              {% for answer in answers -%}
            <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" name="check{{ answer.id }}" value="true" id="check{{ answer.id }}" />
              <label class="form-check-label" for="check{{ answer.id }}">{{ answer.text }}</label>
            </div>
                  <input type="hidden" name="question_id" value="{{ question.id }}">
              {% endfor %}
                <button type="submit" class="btn btn-light btn-rounded pt-2" style="height: 2rem; width: auto" data-mdb-ripple-color="dark">
                    <i class="fas fa-arrow-right-long">
                      Next question
                  </i>
               </button>
              </form>
          </div>
          </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}